
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body, html {
    font-family: 'Oswald', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.gridWrapper {
    padding: 10px;
    min-height: calc(-200px + 100vh);
    margin-top: 71px;
    text-align: center;
    margin-right: 28.4%;
    margin-left: 20%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    min-height: calc(-142px + 100vh);
}
    
@media screen and (max-width: 600px){
    
    .row { 
      flex-direction: column; 
    }
}

.column {
  flex: 25%;
    padding: 20px;
}

@media screen and (max-width: 992px){

    .column { 
      flex: 50%; 
    }

    .gridWrapper {
      margin-right: 0%;
      margin-left: 0%;
    }

}

.footerText {
    color: #ffffff;
    font-family: initial;
    margin-right: 8%;
    opacity: 90%;
}

.footerWrapper {
    position: fixed;
    background-color: #171815;
    width: 100%;
    height: 50px;
    bottom: 0;
    text-align: center;
}

.registerButton {
    z-index: 30;
    position: relative;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #2e3612;
    border-radius: 100px;
    box-sizing: border-box;
    color: #171815;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 42px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }

  .registerButton:hover,
  .registerButton:focus {
    background-color: #171815;
    color: #ffffff;
  }

  .registerButton:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
  }

  .registerButton:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }

